/* Block section elements style */

.block-section {
	padding-top: 10px;
	padding-bottom: 10px;
}

.block-section-title {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
.block-section-content {
	height: 0;
	overflow-y: hidden;
	padding-left: 4em;
	padding-right: 8em;
}

.block-section.open .block-section-content {
	height: auto;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

/* The div element that splits block sections into left/right */
.block-section-content-split {
	width: 100%;
	display: flex;
}

.block-section-content-split-left {
	width: 15%;
	max-width: 175px;
	border-right: 1px solid black;
	text-align: left;
	padding-right: 0.25em;
}
.block-section-content-split-right {
	padding-left: 1em;
	flex: 1;
	overflow-x: wrap;
}

/* Styling for the open/close button for each block section */
.block-section-handle {
	font-size: 14pt;
	display: flex;
	line-height: 1em;
}

.block-section-handle-button {
	width: 1em;
	min-width: 1em;
	height: 1em;
	min-height: 1em;
	font-size: inherit;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	outline: 0;
	margin-right: 12px;
	position: relative;
	background-color: gray;
}

.block-section-handle-button span {
	position: absolute;
	background: white;
	transition: 200ms;
	border-radius: 2px;
}

.block-section-handle-button span.vert {
	top: 25%;
	bottom: 25%;
	width: 10%;
	left: 45%;
}

.block-section-handle-button span.horz {
	left: 25%;
	right: 25%;
	height: 10%;
	top: 45%;
}

.block-section.open .block-section-handle-button span {
	transform: rotate(45deg);
}
