html {
	
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
	background-image: url("../img/storm_sat_small.jpeg");
	background-color: GhostWhite;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

header {
	margin: auto;
	padding: 10px;
	font-size: 72pt;
	border-top: 1pt solid black;
	border-bottom: 1pt solid black;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: bold;
}

footer {
	color: GhostWhite;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	border-top: 1px solid GhostWhite;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 0.8em;
	margin: auto;
	padding: 0.7em 2em 0.7em 2em;
	text-align: center;
	background-color: rgba(255,255,255,0.25);
	flex: 0 0 auto;
}

a {
	color: black;
}

a:visited {
	color: black;
}

#content {
	display: flex;
	flex-flow: column;
	height: 100%;
	max-height: 100%;
}

#main {
	margin: 0;
	padding: 3em 0 2em 0;
	width: 100%;
	flex: 1 1 auto;
}

#body-text {
	width: 80%;
	margin: 0em auto 0em auto;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(255, 255, 255, 0.25);
	border-top: 1px solid GhostWhite;
	border-bottom: 1px solid GhostWhite;
	color: black;
	border-radius: 10px;
	font-size: 1em;
	text-align: left;
	transition: background-color 100ms linear;
}

#body-text:hover {
	background-color: rgba(255, 255, 255, 0.75);
}

.body-title {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2rem;
}

.body-content {

}

/* These are formatting for the 'tag cloud' style lists */
.block-list {
	list-style-type: none;
	line-height: 3em;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

.block-list li {
	background-color: none;
	border-radius: 8px;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	display: inline;
	white-space: nowrap;
}

/* ITEMS FOR THE HOME PAGE */
#home-content {
	margin: auto;
	margin-top: 2em;
	padding: 10px;
	border-top: 1pt solid black;
	border-bottom: 1pt solid black;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
