html, body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: GhostWhite;
}

#body-text {
	display: flex;
	font-size: 1em;
	left: 0; right: 0;
	bottom: 0;
	min-height: calc(100% - 1.4em);
	margin: 0.7em;
	text-align: left;
}

#body-right {
	flex: 1;
	padding-left: 1em;
	left: 0;
	top: 0;
}

#body-right h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.body-title {
	display: block;
    position: relative;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 0.5em;
}

.body-content {

}

.body-title #named-span {
	display: none;
}

#printer-button #printed-text {
	display: none;
}

@media print {
	html, body {
		background-color: white;
	}

	#body-text {
		font-size: 12pt;
	}
	.body-title #styled-span {
		display: none;
	}
	.body-title #named-span {
		display: inline;
	}

	#printer-button #print-button {
		display: none;
	}
	#printer-button #printed-text {
		display: inline;
	}
}
