nav {
	padding-left: 1em;
	padding-right: 1em;
	margin: auto;
	margin-bottom: 1em;
	flex: 0 0 auto;
	text-transform: uppercase;
	border-bottom: 1px solid GhostWhite;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba( 255, 255, 255, 0.25 );
	transition: background-color 100ms linear;
}

nav:hover {
	background-color: rgba( 255, 255, 255, 0.75 );
}

nav ul {
	list-style-type: none;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0;
	display: flex;
	align-items: center;
}

nav ul li {
	margin: 0 0.1em 0 0.1em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: 1px solid black;
	transition: background-color 100ms linear;
}

nav ul li:hover {
  background-color: GhostWhite;
}

nav ul li.no-hover {
	text-align: left;
	border: none;
}

nav ul li.no-hover:hover {
	background-color: inherit;
}

nav li a {
	position: relative;
	text-decoration: none;
	height: 100%;
	color: black;
	margin: auto 0 auto 0;
	padding: 4px;
	display: inline-block;
	letter-spacing: 0.2rem;
}

nav li a:visited {
	color: black;
}
