#resume {
	list-style-type: none;	
	padding: 0;
	margin: 0;
}

#resume li {
	padding: 0.5em;
	padding-left: 0;
	margin: 0.5em;
	margin-left: 0;
}

.resume-section-split {
	width: 100%;
	display: flex;
}
.resume-section-split-left {
	width: 15%;
	border-right: 1px solid grey;
	text-align: center;
	padding-right: 0.25em;
}
.resume-section-split-right {
	padding-left: 1em;
	flex: 1;
}

.resume-section-handle {
	font-size: 14pt;
	display: flex;
	line-height: 1em;
}

.resume-handle-button {
	width: 1em;
	min-width: 1em;
	height: 1em;
	min-height: 1em;
	font-size: inherit;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	outline: 0;
	margin-right: 12px;
	position: relative;
	background-color: gray;
}

.resume-handle-button span {
	position: absolute;
	background: white;
	transition: 200ms;
	border-radius: 2px;
}

.resume-section.open .resume-handle-button span {
	transform: rotate(45deg);
}

.resume-handle-button span.vert {
	top: 25%;
	bottom: 25%;
	width: 10%;
	left: 45%;
}

.resume-handle-button span.horz {
	left: 25%;
	right: 25%;
	height: 10%;
	top: 45%;
}


.resume-section-content {
	height: 0;
	overflow-y: hidden;
	padding-left: 4em;
}

.resume-section.open .resume-section-content {
	height: auto;
}

.resume-section.open .resume-section-handle {
	padding-bottom: 0.5em;
}
